---
layout:  default
slug:    home
---

{% if site.posts.size > 0 %}
  <section class="page-block thoughts writing">
    <div class="container">
      <h2><a href="/writing/">Writing</a></h2>
      <section class="posts">
        {% for post in site.posts limit:3 %}

          <article class="post">
            <header class="post-header">
              <h1 class="post-title"><a href="{{ post.url }}#post">{{ post.title }}</a></h1>
              <p class="post-meta">Published on {{ post.date | date: "%A, %B %e, %Y" }}.</p>
            </header>

            {{ post.excerpt }}

            <footer class="post-footer clearfix">
              <p><a href="{{ post.url }}#post" class="post-link">Keep reading</a></p>
            </footer>
          </article>

        {% endfor %}
      </section>

      {% if site.posts.size > 3 %}
        <h3>Some more stuff I've written:</h3>
        <ul>
          {% for post in site.posts limit:5 offset:3 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          {% if site.posts.size > 6 %}
            <li><a href="">See all posts</a></li>
          {% endif %}
        </ul>
      {% endif %}

    </div>
  </section>
{% endif %}

<section class="page-block thoughts speaking">
  <div class="container">
    <h2>Speaking</h2>
    <p>I've always been drawn to teaching. The only problem: I was terrified of public speaking.</p>
    <p>In 2014 while working at <a href="http://thinkshiftinc.com" target="_blank">Think Shift</a>, I decided to get over my fear and start giving talks on Design and User Experience. Since then I have spoken at several &ldquo;Lunch and Learns&rdquo;, both to staff and clients, as well as spoken a few times at <a href="http://www.rrc.mb.ca/" target="_blank">Red River College</a> to the Graphic Design classes.</p>
    <p class="whimsy text-center">Enjoy!</p>

    <div class="video-item">
      <h3>Design for Use</h3>
      <p>The following is a video of a Lunch and Learn hosted at Think Shift all about how design is far more than just how it looks.</p>
      <div class="video-wrapper">
        <iframe title="Think Shift Talk on Design for Use" src="//player.vimeo.com/video/117738910" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div class="video-item">
      <h3>Manifesto</h3>
      <p>The following is a video of a Pecha Kucha talk in Winnipeg all about Manifesto, and what makes them so powerful.</p>
      <div class="video-wrapper">
        <iframe title="Winnipeg Pecha Kucha Talk on Manifesto" src="//player.vimeo.com/video/122578450" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>Credit goes to <a href="https://www.youtube.com/watch?v=ewpz2gR_oJQ&amp;t=4m02s" target="_blank" title="Jared Spool on Using the Kano Model to Build Delightful UX">Jared Spool</a> for the bit about Frustration, Satisfaction, and Delight.</p>
    </div>
  </div>
</section>
