// =============================================================================
// Baseline Link Styles
// --------------------
// @version - 1.0.0
// @author  - Devon Mitton <devonmitton@gmail.com>
// @package - Bedrock
// =============================================================================

$link-normal-color:  #4A90E2 !default;
$link-hover-color:   lighten($link-normal-color, 10%) !default;
$link-active-color:  darken($link-normal-color, 10%)  !default;
$link-visited-color: darken($link-normal-color, 15%)  !default;
$link-font-weight:   nil !default;

a {
  text-decoration: none;
  color: $link-normal-color;

  @if $link-font-weight != nil {
    font-weight: $link-font-weight;
  }

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    text-decoration: underline;
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}
