<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">

  <title>Devon Mitton | {% if page.title %}{{page.title}} | {% endif %}{{site.description}}</title>

  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="/assets/stylesheets/main.css" media="all" rel="stylesheet" />

  <!-- Modernizr -->
  <script src="/assets/javascripts/lib/modernizr-2-8-3.js" async></script>

  {% include typekit.html %}

  {% include analytics.html %}

</head>
<body{% if page.slug %} class="{{page.slug}}"{% endif %}>

  <header class="masthead">
    <div class="container">

      <figure class="me">
        <div class="portrait"><a href="/" title="home"><img src="/assets/images/devonmitton.svg" alt="Devon Mitton | User Experience Designer" width="137px" height="137" /></a></div>

        {% if page.slug == "home" %}
          <h1 class="homepage-heading">
            <span>Hello, My name is</span>
            <strong>Devon Mitton</strong>
            <span>I Design and Code.</span>
          </h1>
        {% endif %}
      </figure>

    </div>
  </header>
