<nav id="primary-navigation" class="pnav">
    <ol class="pnav-items">
        <li class="pnav-item about-me-item{% if page.slug == 'is' %} active-item{% endif %}"><a class="pnav-link about-me-link" href="/is/">About Me</a></li>
        <li class="pnav-item my-work-item{% if page.slug == 'does' %} active-item{% endif %}"><a class="pnav-link my-work-link" href="/does/">My Work</a></li>
        <li class="pnav-item thouhgts-item{% if page.slug == 'thinks' %} active-item{% endif %}"><a class="pnav-link thoughts-link" href="/thinks/">Thoughts</a></li>
    </ol>    
</nav>
