<div class="post-list">
  {% for post in site.posts %}
    <div class="post-list__item">
      <a href="{{ post.url }}" class="post">
        <div class="post__header">
          <h1 class="post__title">
            {{ post.title }}
          </h1>
          <div class="post__meta">Written on {{ post.date | date_to_string: "ordinal", "US" }}</div>
        </div>
        <div class="post__excerpt">
          {{ post.excerpt | strip_html | markdownify }}
        </div>
      </a>
    </div>
  {% endfor %}
</div>
