// =============================================================================
// Containers
// ----------
// @version 1.0.0
// @author  Devon Mitton <devonmitton@gmail.com>
// =============================================================================

$container-max-width: 1200px !default;

.content {
  position: relative;
}

.context {
  @extend .content;
  overflow: hidden;
}

.container {
  @extend .content;
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
}
