// =============================================================================
// Containers
// ----------
// @version 1.0.0
// @author  Devon Mitton <devonmitton@gmail.com>
// =============================================================================

$container-max-width: 1200px !default;

.content {
  position: relative;
}

.context {
  @extend .content;
  overflow: hidden;
}

.container {
  @extend .content;
  max-width: $container-max-width;
  padding: 0 20px;
  margin: 0 auto;
}

.section-block {
  padding: 50px 0;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-item {
  margin-bottom: 50px;
}
