// =============================================================================
// Media Module
// ------------
// @version - 1.0.0
// @author  - Devon Mitton <devonmitton@gmail.com>
// @package - Bedrock
// =============================================================================

.media {
  @extend .context;
  margin: 0;

  .media-item {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto 10px;
    max-width: 100%;
  }

  .media-description {
    @extend .context;
    text-align: center;
  }

}
