---
---
// =============================================================================
// Bedrock - A baseline project template and stuff... Also Flintstones.
// --------------------------------------------------------------------
// @version 1.0.0
// @author  Devon Mitton <devonmitton@gmail.com>
// =============================================================================


// Variables and Junk
// -----------------------------------------------------------------------------

// Colors
$brand-primary: #1b6ac9;
$brand-secondary: #f5efe6;

$body-background-color: #fff;
$header-background-color: #F9F4ED;

$base-serif-family:      serif;
$base-sans-serif-family: 'Source Sans Pro', sans-serif;
$base-monospace-family:  'Source Code Pro', monospace;

// Base Typography Settings
$base-font-size:   16px;
$base-line-height: 1.5;  // 16 x 1.5 = 24
$base-font-weight: 300;  // Light, if available
$base-font-family: $base-sans-serif-family;
$base-font-color:  rgba(0,0,0,0.65);

// Selection stuff;
$selection-bg-color:   opacify($brand-primary, 0.75) !default; // this could be a brand color;
$selection-font-color: #fff    !default;

// Links
$link-normal-color: $brand-primary;
$link-visited-color: $brand-primary;
$link-font-weight: normal;

// Container
$container-max-width: 600px;

// Base Styles
@import "bedrock/base/html";
@import "bedrock/base/type";
@import "bedrock/base/links";
@import "bedrock/base/helpers";
@import "bedrock/base/functions-mixins";

// Modules
@import "bedrock/modules/tables";
@import "bedrock/modules/forms";
@import "bedrock/modules/buttons";
@import "bedrock/modules/containers";
@import "bedrock/modules/media";
@import "bedrock/modules/images";

// Systems
@import "bedrock/systems/header-footer";
@import "bedrock/systems/grid";
@import "bedrock/systems/navigation";


// Basecamp
// -------------------------------------------------------------------------- //
.basecamp {
  .masthead {
    padding: 70px 0;
  }

  h1, h2, h3 {
    font-family: "Proxima Nova Soft", sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
  }
}

.devo-plus-basecamp {
  text-align: center;
  font-family: "Proxima Nova Soft", sans-serif;
  vertical-align: middle;

  span {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 15px;
  }

  img {
    max-width: 150px;
    max-height: 150px;
    margin: 0px 30px;
  }

  @media only screen and (max-width: 500px) {
    span {
      font-size: 24px;
      top: 10px;
    }
    img {
      max-width: 100px;
      max-height: 100px;
      margin: 0px 10px;
    }
  }

  @media only screen and (max-width: 300px) {
    span {
      display: block;
      top: 0;
    }
  }
}

.professional-links {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
  font-size: $fs-small
}

.tray {
  padding: 20px;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: inset 0px 1px 5px rgba(0,0,0,0.15);
}

.whimsy {
  font-family: "Proxima Nova Soft", sans-serif;
  font-weight: bold;
}

.introduction {
  font-size: $fs-large;
}

.philosophy, .attitude {
  background: #fafafa;
}

.design-aspects {
  max-width: 650px;
  margin: 30px auto;
  font-size: 90%;

  @media only screen and (max-width: 600px) {
    .column.fifth {
      width: auto;
      display: inline-block;
    }
  }
}

.family-pics {
  img {
    display: block;
    margin: 0 auto;
  }

  @media only screen and (max-width: 600px) {
    .column.quarter {
      width: 50%;
      float: left;
      padding: 10px;
    }
  }
}

.attitude {
  h3 {
    margin: 2em 0 1em;
  }
}

.testimony {

  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  border-radius: 10px;

  .media-item {
    padding: 10px;
    float: left;
    img {
      width: 150px;
      margin-bottom: 10px;
    }
    span {
      display: block;
      font-size: 90%;
    }
  }

  .media-description {
    text-align: left;
    padding: 10px;
  }

  @media only screen and (max-width: 600px) {
    .media-item {
      float: none;
    }
  }
}
