---
---
// =============================================================================
// Bedrock - A baseline project template and stuff... Also Flintstones.
// --------------------------------------------------------------------
// @version 1.0.0
// @author  Devon Mitton <devonmitton@gmail.com>
// =============================================================================


// Variables and Junk
// -----------------------------------------------------------------------------

// Colors
$brand-primary: #fe57a1;
$brand-secondary: #333;

$base-serif-family:      serif      !default;
$base-sans-serif-family: 'Open Sans', sans-serif !default;
$base-monospace-family:  monospace  !default;

// Base Typography Settings
$base-font-size:   16px                    !default;
$base-line-height: 1.5                     !default; // 16 x 1.5 = 24
$base-font-weight: 300                     !default; // Light, if available
$base-font-family: $base-sans-serif-family !default;
$base-font-color:  #333                    !default;

// Selection stuff;
$selection-bg-color:   opacify($brand-primary, 0.75) !default; // this could be a brand color;
$selection-font-color: #fff    !default;


// Base Styles
@import "bedrock/base/html";
@import "bedrock/base/type";
@import "bedrock/base/helpers";
@import "bedrock/base/functions-mixins";

// Modules
@import "bedrock/modules/tables";
@import "bedrock/modules/forms";
@import "bedrock/modules/buttons";
@import "bedrock/modules/containers";
@import "bedrock/modules/media";

// Systems
@import "bedrock/systems/grid";
@import "bedrock/systems/navigation";
