---
---
// =============================================================================
// Bedrock - A baseline project template and stuff... Also Flintstones.
// --------------------------------------------------------------------
// @version 1.0.0
// @author  Devon Mitton <devonmitton@gmail.com>
// =============================================================================


// Variables and Junk
// -----------------------------------------------------------------------------

// Colors
$brand-primary: #DE3626;
$brand-secondary: #333;

$body-background-color: #fff;
$header-background-color: #F9F4ED;

$base-serif-family:      serif;
$base-sans-serif-family: 'Source Sans Pro', sans-serif;
$base-monospace-family:  'Source Code Pro', monospace;

// Base Typography Settings
$base-font-size:   16px;
$base-line-height: 1.5;  // 16 x 1.5 = 24
$base-font-weight: 300;  // Light, if available
$base-font-family: $base-sans-serif-family;
$base-font-color:  #333;

// Selection stuff;
$selection-bg-color:   opacify($brand-primary, 0.75) !default; // this could be a brand color;
$selection-font-color: #fff    !default;

// Links
$link-normal-color: $brand-primary;

// container
$container-max-width: 600px;


// Base Styles
@import "bedrock/base/html";
@import "bedrock/base/type";
@import "bedrock/base/links";
@import "bedrock/base/helpers";
@import "bedrock/base/functions-mixins";

// Modules
@import "bedrock/modules/tables";
@import "bedrock/modules/forms";
@import "bedrock/modules/buttons";
@import "bedrock/modules/containers";
@import "bedrock/modules/media";
@import "bedrock/modules/images";

// Systems
@import "bedrock/systems/header-footer";
@import "bedrock/systems/grid";
@import "bedrock/systems/navigation";


// Headings
// -------------------------------------------------------------------------- //
h1, h2, h3 {
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
}

// Homepage
// -------------------------------------------------------------------------- //
.homepage-heading {
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.1;
  font-size: $fs-xlarge;
  margin: 30px 0;
  opacity: 0.65;

  strong {
    font-family: "Proxima Nova";
    font-size: 2em;
    letter-spacing: -0.025em;
  }

  span, strong {
    display: block;
  }
}

.me {
  text-align: center;
  margin: 0 auto -80px auto;

  img {
    border-radius: 50%;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    display: inline-block;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  }
}

.home {
  .me {
    margin: 0 auto;
    img {
      width: 130px;
      height: 130px;
    }
  }

  .masthead {
    padding: 70px 0;
  }
}

.errorpage .me {
  margin: 0 auto;
}

.why-statement {
  font-size: $fs-large;
  margin: 0 auto 50px;
  max-width: 400px;
  text-align: center;
}

.writing {
  background: #fafafa;

  blockquote {
    font-style: italic;
    font-size: 0.875em;
    border-left: 2px solid #ccc;
    margin: 1em 0;
    padding: 0.5em 2em;
    background: #f2f2f2;
  }
}

// Posts
.single-post {
  .writing {
    background: #fff;
  }
  .post {
    box-shadow: none;
    border-radius: 0;
    background: none;
    padding: 0;
  }
  @media only screen and (min-width: 1000px) {
    .container {
      max-width: 800px;
      font-size: 125%;
    }
  }
}

.post {
  padding: 20px;
  background: #fff;
  color: #888;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  font-family: 'Source Sans Pro';
  border-radius: 5px;
  margin: 10px 0;
}

.post-header, .post-footer {
  text-align: center;
  padding: 20px 0;
}

.post-header {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 30px;
}

.post-footer {
  border-top: 1px solid rgba(0,0,0,0.15);
  margin-top: 30px;
}

.post-title {
  margin: 10px 0;
  font-weight: bold;
  text-transform: none;

  a {
    color: inherit;
  }
}

.post-meta {
  margin: 10px 0;
  font-family: 'Source Sans Pro';
  font-size: 0.75em;
}

.post-link {
  font-family: 'Source Sans Pro';
}
