---
---

// Colors and Imports
// ========================================================================== //
$main-bg-color: #f8f7f2;
$ct-red: #dc291e;
$twitter-blue: #28aae1;

$code-font-family: 'Source Code Pro', 'Monaco', 'Courier New', monospace;

@import "me/normalize";
@import "me/typography";
@import "me/tables";


// Utilities
// ========================================================================== //
.text-center { text-align: center; }
.text-right  { text-align: right; }

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Layout
// ========================================================================== //
.container {
  max-width: 600px;
  margin: 0 auto;

  h1, h2 {
    text-align: center;
  }
}

.me {
  padding: 30px 0;
  text-align: center;
  margin: 0 auto -80px auto;

  .portrait {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    display: inline-block;
  }

  img {
    border-radius: 50%;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    display: block;
  }
}

.home .me {
  margin: 0 auto;
  img {
    width: 130px;
    height: 130px;
  }
}

.errorpage .me {
  margin: 0 auto;
}

.baseplate {
  font-family: "Source Sans Pro";
  font-size: 11px;
  text-align: center;
  padding: 30px 0;
}


// Pages
// ========================================================================== //
// .whimsy {
//   font-family: 'Covered By Your Grace';
//   margin-top: 2em;
//   margin-bottom: 2em;
//   position: relative;
//   top: -10px;
//
//   &.left, &.right{
//     max-width: 50%;
//   }
//
//   .whimsy.left {
//     margin-right: 50%;
//     left: -30px;
//     transform: rotate(8deg);
//   }
//
//   .whimsy.right {
//     margin-left: 50%;
//     text-align: right;
//     right: -30px;
//     transform: rotate(-8deg);
//   }
// }

.page-block {
  padding: 100px 50px;
  background: #aaa;
  color: #fff;
}

// Homepage
// -------------------------------------------------------------------------- //
.homepage-heading {
  font-family: "Source Sans Pro";
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1;

  strong {
    font-family: "Montserrat";
    font-size: 2em;
    letter-spacing: -0.025em;
  }

  span, strong {
    display: block;
  }
}

.work-link    { color: $ct-red; }
.twitter-link { color: $twitter-blue; }

// Writing
// -------------------------------------------------------------------------- //
.writing {
  background-color: desaturate( darken($main-bg-color, 10%), 10% );
  color: #555;

  blockquote {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 0.875em;
    border-left: 2px solid #ccc;
    margin: 1em 0;
    padding: 0.5em 2em;
    background: #f2f2f2;
  }

  img {
    max-width: 100%;
    width: auto;
  }

}

.posts {
  padding: 30px 0;
}

.post {
  padding: 20px;
  background: #fafafa;
  color: #888;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  font-family: 'Source Sans Pro';
}

.post-header, .post-footer {
  text-align: center;
  padding: 20px 0;
}

.post-header {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 30px;
}

.post-footer {
  border-top: 1px solid rgba(0,0,0,0.15);
  margin-top: 30px;
}

.post-title {
  margin: 10px 0;
  font-family: 'Merriweather';
  font-weight: bold;
  text-transform: none;
}

.post-meta {
  margin: 10px 0;
  font-family: 'Source Sans Pro';
  font-size: 0.75em;
}

.post-link {
  font-family: 'Source Sans Pro';
}

.preamble {
  font-style: italic;
  border: 1px solid #eee;
  background: #fff;
  padding: 20px;
  font-size: 0.875em;
}


// Speaking
// -------------------------------------------------------------------------- //
.speaking {
  background-color: desaturate( darken($main-bg-color, 20%), 20% );
  color: #555;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-item {
  margin-bottom: 50px;
}


// Media Queries
// ========================================================================== //
@media screen and (max-width: 600px) {

  .page-block { padding: 75px 40px; }

}

@media screen and (max-width: 480px) {

  .page-block       { padding: 50px 25px; }
  .homepage-heading { font-size: 1.5em; }
  .writing .posts   { margin-left: -16px; margin-right: -16px; }

}

@media screen and (max-width: 400px) {

  body      { font-size: 14px; }
  p, ul, ol { font-weight: 400; }

  .page-block       { padding: 30px 20px; }
  .me img           { width: 90px; height: 90px; }

}


// @import "me/syntax";
