// =============================================================================
// Header Footer System
// --------------------
// @version - 1.0.0
// @author  - Devon Mitton <devonmitton@gmail.com>
// @package - Bedrock
// =============================================================================

$header-background-color: red !default;


.masthead {
  padding: 40px 0;
  background-color: $header-background-color;
  border-bottom: 3px solid rgba(0,0,0,0.05);
}

.baseplate {
  font-size: 11px;
  text-align: center;
  padding: 30px 0;
}
